<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">


    <bean id="t1000h1" class="ru.javabegin.training.springh1.impls.ModelT1000h1"
    p:hand-ref="sonyHand" p:leg-ref="sonyLeg" p:head-ref="sonyHead">
        <constructor-arg index="0" value="silver" type="java.lang.String"/>
        <constructor-arg index="1" value="2005" type="int"/>
        <constructor-arg index="2" value="true" type="boolean"/>

    </bean>


    <bean id="sonyHand" class="ru.javabegin.training.spring.impls.sony.SonyHand"/>
    <bean id="sonyHead" class="ru.javabegin.training.spring.impls.sony.SonyHead"/>
    <bean id="sonyLeg" class="ru.javabegin.training.spring.impls.sony.SonyLeg"/>

    <bean id="toshibaHand" class="ru.javabegin.training.spring.impls.toshiba.ToshibaHand"/>
    <bean id="toshibaHead" class="ru.javabegin.training.spring.impls.toshiba.ToshibaHead"/>
    <bean id="toshibaLeg" class="ru.javabegin.training.spring.impls.toshiba.ToshibaLeg"/>

    <bean class="ru.javabegin.training.springh1.impls.MyBeanPostProcessor"/>


</beans>